/*text color*/
.textcolor {
  color: #393e46;
}
/* navbar */
.navv1 {
  background-color: #00adb5;
  font-size: 1.3rem;
  font-family: "Merriweather", serif;
}

/*carousel*/

.carousel-item img {
  height: 400px;
  object-fit: cover;
  filter: blur(2px);
}

/*carousel quote*/
.c_quote {
  margin-bottom: 90px;
  font-size: 1.8rem;
}
.c_quotespeaker {
  margin-bottom: 40px;
  font-size: 1.8rem;
}
